.container{
    display: flex;
    justify-content: center;
}

#canvasMain{
    /*background-color:grey;*/
    background-image: url("./img/earth.jpg");
}

.adjButton{
    margin-bottom: 10px;
}

.resButton{
    margin-bottom: 15px;
}

.pText{
    font-weight: bold;
    margin-left:10px;
}

.inline{
    display: inline;
    float: left;
}

input[type="radio"]{
    margin-left:20px;
    margin-right:10px;
}

.windInput{
    margin-left:20px;
}
.left{
    margin-left: 10px;
}

.pendLabel{
    margin-left: 20px;
    margin-right:0;
}

.pendInput{
    margin-left: 10px;
    margin-right: 5px;
}